@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<a class="btn btn-success mt-2 mb-2"
   asp-controller=@ViewData["Controller"]
   asp-action="create">Crear</a>