@*
@model List<ObjetoEscuelaBase>
*@

<table class="table table-dark table-hover">
    <thread>
        <tr>
            <th scope ="col">Nombre</th>
            <th scope ="col">Id</th>
        </tr>
    </thread>
    <tbody>

        @foreach (var objetoEscuela in Model)
        {
            <tr>
                <td>@objetoEscuela.Nombre</td>
                <td>@objetoEscuela.UniqueId</td>
            </tr>
        }

    </tbody>
</table>