@model Asignatura

@{
    ViewData["Title"] = "Eliminación de Asignatura";
}

<form method="post">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control-plaintext" />
    </div>
    <input type="submit" value="Guardar" />
</form>